
body,html{
	background-color: #171738;
    margin: 0;
    height: 100%;
}
.about{
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	}
.about-text{
	margin-left: 5%;
	width: 550px;
	}
header h1{
	color: #B5EAD6;
}
.about-text h2{
	color: #B5EAD6;
	font-size: 60px;
	margin-bottom: 20px;
	white-space: nowrap;
	display: inline-block;
	}
.about-text p{
	color: #C5C6C7;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	}
.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	}
.nav li a {
	color: #FFFFFF
	}
.nav .nav-link{
	color: #FFFFFF
	}

	/* Slideshow container */
.carousel-item {
	height:100px;
	padding-bottom: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.active.carousel-item-start, .carousel-item-prev:not(.carousel-item-end){
	display: none;
	border-radius: 5%;
}

.carousel-inner {
	border-radius: 5%;

}

.carousel {
	border-radius: 5%;
}

.carousel-inner > .item > img {
	object-fit: contain;
  }


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}

/*resume*/
.resume-top h1{
	color: #B5EAD6;
}
.resume-top {
	line-height: 0.6;
	color: #FFFFFF;
	text-align: center;
}

.resume-skills h2{
	color: #B5EAD6;
}
.resume-skills {
	border-top: 1px solid cyan;
	border-bottom: 1px solid cyan;
}

.resume-projects h2 {
	color: #B5EAD6;
}
.resume-projects p {
	line-height: 0.5;
}

.resume-projects {
	border-bottom: 1px solid cyan;
}
.resume-experience h2{
	color: #B5EAD6;
}

b.date {
	white-space: nowrap;
	letter-spacing: 590px;
}

.resume-experiences {
	border-bottom: 1px solid cyan;
}

.resume-education h2{
	color: #B5EAD6;
}

.resume-education p {
	line-height: 0.5;
}

.resume{
	padding-top: 10px;
	padding-bottom: 30px;
	width: 900px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #FFFFFF;
	 }

.container h3 {
	color:#FFFFFF;
	text-align: center;
}